.myPage
  .myPage__sidebar
    = render "sidebar"

  .myPage__main
    .creditCard
      .creditCard__title
        クレジットカード
      .creditCard__registration
        .creditCard__list
          = link_to "+ クレジットカードを追加", new_card_path