.under
  .under__box
    %ul.under__box__lists
      %li.under__box__lists__list プライバシーポリシー
      %li.under__box__lists__list フリマ利用規約
      %li.under__box__lists__list 特定商取引に関する表示
  = link_to root_path, class:'under__link' do
    = image_tag('logo/logo-white.png',size: '206x60', id: 'UnderImage')
  %p.under__name ©️FURIMA