// マイページのクレジットカード追加ページ(creditCard/indexファイル)
.card {
  @include myPageContents();

  &__title {
    @include myPageTitle();
  }
  
  &__content {
    min-width: 60%;
    text-align: center;
    padding: 0 50px;
  }

  &__registration {
    padding: 20px 0;
    border-bottom: 1px solid whitesmoke;

    a {
      @include aTag();
    }
  }

  section {
    min-width: 80%;
    padding: 10px 30px;
    border-bottom: 1px solid whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .card__info {
      width: 110px;
      margin: 0 30px;
      font-size: small;
      text-align: left;
    }
  }
  
  .delete__btn {
    height: 25px;
    width: 60px;
    padding: 3px;
    border: 1px solid red;
    border-radius: 3px;
    font-size: small;
    cursor: pointer;
    color: red;
    
    &:hover {
      background-color: red;
      color: white;
    }
  }
  
  #card__change {
    @include myPageBtn();
  }

}

//クレジットカード情報入力画面(creditCard/newファイル)
.creditCard {
  @include myPageContents();
  
  &__title {
    @include myPageTitle();
  }
  
  #card__form {
    @include myPageForm();
    
    .formField {
      margin-bottom: 10px;

      &__label {
        margin-bottom: 5px;
      }
      
      .mandatory {
        @include mandatory();
      }
      
      &__input {
        width: 100%;
        display: flex;
        
        input {
          @include myPageInput();
        }
        
        select {
          @include myPageSelect();
        }
        
        &--left {
          margin-right: 30px;
        }
      }
      
    }
      #card__regist {
        @include myPageBtn();
      }
  }
    
    a {
      @include aTag();
    }
}