// destination/new(お届け先住所の登録画面)
.destination {

  &__title {
    @include myPageTitle();
  }
  
  &__content {
    min-width: 60%;
    text-align: center;
    padding: 0 50px;
  }

  &__registration {
    padding: 20px 0;
    border-bottom: 1px solid whitesmoke;

    a {
      @include aTag();
    }
  }

  section {
    min-width: 80%;
    padding: 10px 30px;
    border-bottom: 1px solid whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .destination__info {
      width: 110px;
      margin: 0 30px;
      font-size: small;
      text-align: left;

      a {
        margin-right: 5px;
        text-decoration: none;
        color: #333;
        cursor: pointer;
        user-select: none;
        &:hover {
          text-decoration: underline;
          opacity: 0.3;
        }
      }
    }
    
    .delete__btn {
      height: 25px;
      width: 60px;
      padding: 3px;
      border: 1px solid red;
      border-radius: 3px;
      font-size: small;
      cursor: pointer;
      color: red;
      
      &:hover {
        background-color: red;
        color: white;
      }
    }
  }
  &__form {
    @include myPageForm();
    
    .formField {
      margin-bottom: 20px;
      
      &__label {
        margin-bottom: 5px;
      }
      
      .mandatory {
        @include mandatory();
      }

      .optional {
        @include optional();
      }
      
      &__input {
        display: flex;

        &--left {
          width: 100px;
          margin-right: 50px;
        }
        &--right {
          width: 100px;
        }
        
        input {
          @include myPageInput();
        }

        select {
          height: 30px;
          padding: 0 5px;
          cursor: pointer;
          border: 1px solid #ccc;
          border-radius: 3px;
        }
      }
        
      &__btn {
        @include myPageBtn();
      }
    }
  }

  .back {
    text-align: center;
    a {
      @include aTag();
    }
  }
  
  #destination__change {
    @include myPageBtn();
  }
}