.footer{
  padding: 60px 0;
  color: #fff;
  background-color: #272727;
  text-align: center;
  .contents{
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    .content{
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;
      &__head{
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: bold;
      }
      ul {
        list-style: none;
        li {
          &:hover{
            text-decoration: underline;
          }
          a {
            text-decoration: none;
            color: #fff;
            font-size: 12px;
            line-height: 32px;
          }
        }  
      }
    }
  }
  .logo{
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
    img {
      vertical-align: bottom;
      width: 100%;
    }
  }
  p {
    font-size: 14px;
    font-weight: bold;
  }
}
