* {
  box-sizing: border-box;
}

.header{
  padding: 0 60px;
  background-color: white;
  .headerInner{
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0;
    &__mainHeader{
      position: relative;
      display: flex;
      align-items: center;
      &__icon{
        padding-bottom: 10px;
        margin-right: 30px;
        border-radius: 4px;
      }
      &__searchBox{
        width: 100%;
        &__form{
          margin-bottom: 5px;
          width: 100%;
          .form{
            width: 100%;
            display: flex;
            .inputText{
              width: calc(100% - 26px);
              height: 36px;
              padding-left: 5px;
            }
            .submitBtn{
              width: 36px;
              border: 0;
              cursor: pointer;
              background-color: #3CCACE;
              padding: 8px;
              height: 35px;
              &__icon{
                img{
                  width: 100%;
                  vertical-align: bottom;
                }
              }
            }
          }
        }
      }
    }
    &__nav{
      font-size: 14px;
      display: flex;
      padding-bottom: 10px;
      .listLeft{
        position: relative;
        display: flex;
        .leftBtn{
          color: #333;
          text-decoration: none;
          margin-right: 46px;
        }
        .leftBtn:hover{
          color: #ffb340;
        }
      }
      .listRight{
        display: flex;
        margin-left: auto;
        .rightBtn{
          text-decoration: none;
          color: #333333;
          margin-left: 16px;
        }
        .Icon {
          height: 25px;
          width: 25px;
          margin-bottom: -7px;
        }
        .userName {
          display: inline;
          text-decoration: none;
          color: #333333;
          margin-left: 4px;
        }
        .rightBtn:hover{
          color: #ffb340;
        }
      }
      .Icon {
        height: 20px;
        width: 20px;
        margin-bottom: -5px;
      }
    }
  }
}