.sellItemPage{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .head{
    height: 128px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #f8f8f8;
    img {
      height: 49px;
      width: 185px;
    }
  }
  
}
