// マイページ用の共有部分（全体、サイド、メイン）
.myPage {
  padding: 0 150px;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap-reverse;
  overflow: auto;

// サイドバー(users/_sidebar)
  &__sidebar {
    flex: 3;
    max-width: 300px;
    min-width: 300px;
    margin: 30px 50px 30px 0;
    display: flex;
    flex-direction: column;
    
    h3 {
      margin-bottom: 5px;
      padding: 10px;
    }
    
    ul {
      display: flex;
      flex-direction: column;
      
      li {
        cursor: pointer;
        background-color: white;
        border-bottom: 1px solid whitesmoke;
        
        &:hover {
          background-color: rgba(255, 255, 255, 0.6);
        }
        
        a {
          display: block;
          padding: 10px;
          height: 100%;
          width: 100%;
          color: black;
          text-decoration: none;
        }
      }
    }
  }

// メイン(共有部分)
  &__main {
    height: 80%;
    flex: 7;
    min-width: 300px;
    margin: 30px 0;
    padding: 50px 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // マイページのトップページ(users/show)
  &__contents {
    @include myPageContents();
  }

  &__form {
    @include myPageForm();

    .formField {
      height: 50px;
      margin-bottom: 30px;
      display: flex;
      align-items: center;
      
      &__icon {
        margin-right: 20px;
      }
      
      input {
        @include myPageInput();
      }
    }
  }
    
  &__comment {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;

    textarea {
      height: 200px;
      width: 100%;
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 3px;
    }
  }

  &__btn {
    @include myPageBtn();
  }
}
// マイページの出品中の商品のページ(users/on_sale)
.onSale {
  @include myPageContents();

  &__title {
    @include myPageTitle();
  }
  
  &__content {
    width: 80%;
    padding: 0 50px;
  }
    
    section {
      padding: 10px 0;
      border-bottom: 1px solid whitesmoke;
      display: flex;
      justify-content: center;

        img {
          object-fit: cover;
        }
  
      .item__info {
        padding: 16px;

      }

      a {
        @include aTag();
        display: inline-block;
        margin-top: 30px;
      }
    }

    .no__onSale {
      font-size: larger;
      margin-top: 20px;
      opacity: 0.5;
    }

}

// マイページのお届け先住所の登録・変更ページ(users/destination)
.destination {
  @include myPageContents();

  &__title {
    @include myPageTitle();
  }

  &__registration {
    padding: 20px 50px;
  }

  a {
    @include aTag();
  }
}

// マイページのお届け先住所の登録・変更ページ(users/destination)
.destination {
  @include myPageContents();

  &__title {
    @include myPageTitle();
  }

  &__registration {
    padding: 20px 50px;
  }

  a {
    @include aTag();
  }
}

// メール/パスワードの変更(users/edit)
.mailPass {
  @include myPageContents();

  &__title {
    @include myPageTitle();
  }
  
  form {
    @include myPageForm();
    
    .formField {
      margin-bottom: 10px;
      
      &__label {
        margin-bottom: 5px;
      }
      
      .mandatory {
        @include mandatory();
      }
      
      input {
        @include myPageInput();
      }

      &__btn {
        @include myPageBtn();
      }
    }
  }
  
}

// マイページのログアウトページ(users/logout)
.logout {
  height: 200px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  
  &__content {
    width: 80%;
  }
  .logout__btn {
    @include myPageBtn();
    
    a {
      line-height: 50px;
      color: white;
      font-size: large;
      text-decoration: none;
      display: block;
    }
  }
}