// _sidebarファイル(共有ファイル)
.myPage {
  display: flex;
  background-color: whitesmoke;
  overflow: scroll;
  padding: 50px 150px;

  &__sidebar {
    min-width: 350px;
    width: 30%;
  }

  &__main {
    padding: 30px 20px;
    background-color: white;
    flex: 1;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// サイドバー部分
.side__contents {
  width: 80%;
  display: flex;
  flex-direction: column;

  h3 {
    padding: 10px;
    margin-bottom: 5px;
  }
  
  ul {
    display: flex;
    flex-direction: column;

    
    
    li {
      cursor: pointer;
      background-color: white;
      padding: 10px;
      border-bottom: 1px solid whitesmoke;

      &:hover {
        background-color: rgba(255, 255, 255, 0.6);
      }
      
      a {
        color: black;
        text-decoration: none;
      }
    }
  }

  .config__list {
    display: flex;
    flex-direction: column;
  }
}

// showファイル
// マイページのデフォルトページ
.user {
  background-color: white;
  height: 90%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
    
  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;
  }

  &__status {
    height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    &--icon {
      margin-right: 20px;
    }
      input {
        height: 35px;
      }
  }
    
  
  &__comment {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;

    textarea {
      padding: 5px;
      height: 200px;
      width: 95%;
    }
  }
  
  .button {
    @include button();
    width: 100%;
    height: 50px;
  }
}

// マイページのクレジットカード追加ページ
.creditCard {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 90%;

  &__title {
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: x-large;
    border-bottom: 1px solid whitesmoke;
  }
  
  &__registration {
    padding: 20px 50px;

    a {
      color: #3CCACE;
      text-decoration: none;

      &:hover {
        opacity: 0.6;
      }
    }
  }
}


// ログアウトページ
.logout {
  background-color: white;
  width: 80%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  &__content {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  .logout__btn {
    @include button();
    width: 100%;
    height: 50px;
    text-align: center;

    &:hover {
      opacity: 0.9;
    }
    
    a {
      display: block;
      font-size: large;
      line-height: 50px;
      text-decoration: none;
      color: white;
      }
    }
}