// 購入した商品ページ
.purchaseHistory {
  @include myPageContents();

  &__title {
    @include myPageTitle();
  }
  
  &__content {
    width: 80%;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
    
    section {
      padding-top: 10px;
      border-bottom: 1px solid whitesmoke;
      display: flex;

      figure {
        position: relative;
        .soldList{
          width: 0;
          height: 0;
          border-top: 40px solid #3ccace;
          border-right: 40px solid transparent;
          border-bottom: 40px solid transparent;
          border-left: 40px solid #3ccace;
          z-index:100;
          position: absolute;
          top: 0px;
          left: 0px;
          &__text {
            color: #fff;
            transform: rotate(-45deg);
            font-size: 16px;
            margin:-19px 0px 0px -37px;
            font-weight: bold;
            letter-spacing: 2px;
          }
        }
      }

        img {
          object-fit: cover;
        }
  
      .item__info {
        padding: 16px;
        a {
          @include aTag();
        }
      }
    }

    .no__purchaseHistory {
      font-size: larger;
      margin-top: 20px;
      opacity: 0.5;
    }

}