// 購入した商品ページ
.purchaseHistory {
  @include myPageContents();

  &__title {
    @include myPageTitle();
  }
  
  &__content {
    width: 80%;
    padding: 0 50px;
  }
    
    section {
      padding: 10px 0;
      border-bottom: 1px solid whitesmoke;
      display: flex;
      justify-content: center;

        img {
          object-fit: cover;
        }
  
      .item__info {
        padding: 16px;

      }

      a {
        text-decoration: none;
        color: #333;
        cursor: pointer;
        user-select: none;
        
        &:hover {
          text-decoration: underline;
          opacity: 0.3;
        }
      }
    }

    .no__purchaseHistory {
      font-size: larger;
      margin-top: 20px;
      opacity: 0.5;
    }

}