.banner
  .banner__box
    %h2.title だれでもかんたん、人生を変えるフリマアプリ
    %p.text 今すぐ無料ダウンロード
    .btn
      .btn__abtn
        = link_to image_tag('svg/download-on-the-app-store-apple.svg'), '#'
      .btn__gbtn
        = link_to image_tag('svg/google-play-badge.svg', alt:'google play'), '#'