.main
  .mainVisual
    .mainVisual__box
      %h2.subtitle
        %br 人生を変えるフリマアプリ
      %p.text
        FURIMAはだれでも簡単に出品・購入できる
        %br フリマアプリです   
      .mainVisual__box__btn
        .mainVisual__box__btn__abtn
          = link_to image_tag('svg/download-on-the-app-store-apple.svg', alt:'apple store'), '#'
        .mainVisual__box__btn__bbtn
          = link_to image_tag('svg/google-play-badge.svg', alt:'google play'), '#'

  .mainReason
  .mainMiddle
  .mainFeatuer
  .mainCategory