.sellItemPage
  = render 'shared/head'
  .body
    .main
      = form_with class: 'sellItem' do |f| #itemモデル追加
        .imageSend
          .itemDetailName
            %label.label 出品画像
            %span.sideLabel 必須
          %p.imageSend__text 最大５枚までアップロードできます 
          
  
  .under