.ItemShowPage
  = render 'header'
  .ItemProfile
    .ItemProfile__name
      商品名
    .ItemProfile__status
      .ItemProfile__status__images
        .ItemProfile__status__images__selected
          選択した画像
        .ItemProfile__status__images__list
          画像リスト
      .ItemProfile__status__table
        %table
          %tr
            %th
              出品者
            %td
              たなかななか
          %tr
            %th
              カテゴリー
            %td
              >エネゴリー
              %br
              >カネゴリー
              %br
              >ムネドリー
          %tr
            %th
              ブランド
            %td
              Mランド
          %tr
            %th
              商品のサイズ
            %td
              でかい
          %tr
            %th
              商品の状態
            %td
              すごい
          %tr
            %th
              配送料の負担
            %td
              私
          %tr
            %th
              配送元の地域
            %td
              ヌー大陸
          %tr
            %th
              配送日の目安
            %td
              すぐ届く
    .ItemProfile__priceBox
      .ItemProfile__priceBox__price
        100円
      .ItemProfile__priceBox__tax
        （税込）
      .ItemProfile__priceBox__shipping
        送料込み
    .ItemProfile__buyButton
      購入画面に進む
    .ItemProfile__text
      おはようございます
      こんにちはでございます
      ________________________________________________________________________________________________________________________________________________________________________
  .CommentForm
    = text_area :text, class: "CommentForm__textArea"
    .CommentForm__info
      %div 相手のことを考え丁寧なコメントを心がけましょう。
      %div 不快な言葉遣いなどは利用制限や退会処分となることがあります。
    .CommentForm__button
      コメントする
  = render 'footer'